body {
	height: 100%;
}

.container{
	width: 1000px;
	margin: auto auto;
}
.table-container{
	border: 1px solid grey;
    padding: 20px;
}

.mast-head{
	display: flex;
	margin: 10px 0;
	.office-name{

	}
	.search-box-container{
		flex-grow: 1;
		text-align: right;
	}
}

.table{

	display: inline-block;
	height: 200px;
    width: 300px;
	position: relative;

	.seat {
		height: 60px;
	    margin: 0 45px;
	    width: 60px;
	    background-color: #cecece;
	    position: absolute;
	    border-radius: 50%;
	    &:hover{
	    	background-color: red;
	    }

	    &.occupied{
	    	background-color: grey;
	    }

	    &.highlight{
	    	background-color: blue !important;
	    }
	}

	.top-right{
		top: 0;
		right: 0;
	}

	.top-left{
		top: 0;
		left: 0;
	}

	.bottom-right{
		bottom: 0;
		right: 0;
	}

	.bottom-left{
		bottom: 0;
		left: 0;
	}

	.inner-table{
		height: 140px;
   		width: 240px;
   		border: 1px solid white;
		background-color: #cecece;
		position: absolute;
		top: 50%;
		left: 50%;
		text-align: center;
		line-height: 140px;
		transform: translate(-50%, -50%);
	}

}

.flyout-container{
	position: relative;
	z-index: 2;
	.flyout{
		position: absolute;
		background: whitesmoke;
		border: 2px solid grey;
		height: 170px;
		width: 150px;
		left: 100%;
    	box-shadow: 1px 1px 0px 0px darkgray;
	}
}